* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, h2, h3, p, ul, ol, nav {
    font-family: "Lora", serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}

header {
    text-align: center;
    background-color: #6a0dad;
    color: white;
    padding: 2em;
    margin: 15px;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

body {
    color: #1A1743; 
    padding: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

nav a {
    color: #0f0c38;
    text-align: center;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
}

header {
    background-color: #6a0dad;
    color: white;
    padding: 20px;
    text-align: center;
}


html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
    border: none;
    font-family: inherit;
}

